<form method="post" action="/Keyword/Create">
    <p >
        
        <label >Ключевые слова для поиска:</label>
        <input type="text" name="currentKeyword" />
    </p>
    <input type="submit" value="Search" />
</form>